@use 'base/variables' as v;
@use 'base/mixins' as m;

.stay-connected {
  padding-top: 32px;

  @media screen and (min-width: 1026px) {
    padding-top: 53px;
  }

  .form__wrapper {
    width: 100%;
    height: 100%;
    // min-height: 223px;

    background: v.$color-primary-009988;

    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 20px;

    padding-left: 20px;

    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1026px) {
      max-width: 1026px;
      min-height: 142px;
      padding-top: 28px;
      padding-bottom: 38px;

      padding-right: 32px;
      padding-left: 32px;
    }
  }

  .form {
    &__title {
      color: v.$white;

      font-family: v.$font_principal;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.4px;
      margin-bottom: 16px;

      @media screen and (min-width: 1026px) {
        font-size: 22px;
      }
    }

    &__input-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &__topic-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      align-self: stretch;
    }

    &__control-input {
      width: 100%;
      height: 100%;
      height: 34px;

      display: flex;
      padding: 8px 20px;
      align-items: center;
      align-self: stretch;
      border: 0;
      outline: none;
      color: v.$color-secondary;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.4px;

      &::placeholder {
        color: #a6a6a6;

        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }

      @media screen and (min-width: 1026px) {
        padding: 10px 20px;
        height: 37px;
      }
    }

    .nice-select {
      border-radius: 0;
      width: 100%;
      border-bottom: 1px solid #959595;

      display: flex;
      padding: 8px 20px;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;

      &::after {
        transform: rotate(0deg) translateY(0) translateX(-5px);

        width: 13px;
        height: 8px;

        background-image: url('../img/chevron-down.png');
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
      }
    }

    .nice-select.open .nice-select-dropdown {
      width: 100%;
      margin-top: 2px;
    }
    .nice-select .option {
      text-wrap: wrap;
      line-height: normal;

      color: v.$color-secondary;
      font-family: v.$font_principal;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      // padding-top: 6px;
      padding-bottom: 6px;
    }
    .nice-select .option:nth-child(2) {
      padding-top: 6px;
    }

    .nice-select .option.disabled {
      display: none;
    }
    .nice-select .list {
      max-height: 100%;
      border-radius: 0;
    }

    .form .nice-select {
      width: 100%;
      line-height: normal;
    }
    .nice-select .current {
      width: 100%;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #a6a6a6;

      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }

    .option.selected.focus {
      background-color: #ededed;
    }

    &__button-field {
      width: 100%;
      display: flex;
      justify-content: space-between;
      transition: margin, 0.2s ease-in-out;
    }

    &__button {
      position: relative;
      cursor: pointer;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      width: max-content;
      // padding: 10px;
      color: v.$white;
      font-family: v.$font_secondary;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      transition: all, 0.4s, ease-in-out 1s ease-in-out;

      border: none;
    }

    &__button-search {
      position: relative;
      display: flex;
      flex-basis: 151px;
      padding: 10px 0px;
      justify-content: center;
      align-items: center;
      background: v.$color-ffa-300;

      @media screen and (min-width: 1026px) {
        height: 38px;
      }
    }
    .form__button-search::after {
      content: '';
      display: block;
      position: absolute;
      right: 26px;
      top: 32%;

      width: 13px;
      height: 13px;

      background-image: url('../img/button-arrow.svg');

      background-repeat: no-repeat;
      background-size: contain;
    }

    &__button-clear {
      font-family: v.$font_secondary;
      background-color: transparent;
      border: none;

      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      text-transform: uppercase;

      @media screen and (min-width: 1026px) {
        height: 38px;
      }
    }

    &__grid {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;

      @media screen and (min-width: 1026px) {
        display: unset;
        display: grid;
        max-width: 962px;
        grid-template-columns: 266px 366px auto;
        gap: 32px;
      }
    }
  }

  .form__result {
    width: 100%;

    background: v.$color-bg-result;
    padding-top: 24px;

    margin-left: auto;
    margin-right: auto;

    height: 100%;

    @media screen and (min-width: 390px) {
      width: 100%;

      background: v.$color-bg-result;
      padding-top: 24px;

      margin-left: auto;
      margin-right: auto;

      height: 100%;
      height: 215px;
    }
    @media screen and (min-width: 1000px) {
      height: 148px;
    }

    @media screen and (min-width: 1026px) {
      max-width: 1026px;
      padding-top: 20px;
      height: 148px;
    }

    &-desc {
      color: v.$color-ligth;

      font-family: v.$font_principal;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-left: 20px;

      @media screen and (min-width: 1026px) {
        padding-left: 32px;
      }
    }
  }

  .footer__seccion {
    margin-top: 10px;
    margin-bottom: 13.23px;
    text-align: center;
    color: #898989;

    font-size: 12.817px;
    font-style: normal;
    font-weight: 400;
    line-height: 12.817px;
    letter-spacing: 0.401px;
    opacity: 0.8;

    @media screen and (min-width: 1026px) {
      margin-top: 64.33px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      max-width: 1026px;
      text-align: right;
    }
  }
}
