// Font
$font_principal: "Roboto", sans-serif;
$font_secondary:"Roboto Condensed", sans-serif;

// Media query size

$phone: 375px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$color-primary-009988:#009988 ;
$secundary: #083954;

$black: #000;
$color-secondary:#333333;
$white: #ffffff;
$color-ffa-300:#FFA300 ;
$lightGrey: #373737;
$color-wine:#992550;
$color-bg-result:#F5F3F1;
$color-ligth: #828282;

$separation: 5rem;
