@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
  position: relative;
  background-color: #992550;
  color: #fff;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;

  &__links {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 40px;
    font-size: 14px;

    line-height: 17px;

    @media screen and (min-width: 754px) {
      display: flex;
      justify-content: center;
    }
  }

  &__li {
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 10px;

    @media screen and (min-width: 754px) {
      padding: 0px 12px;
      margin-bottom: 0px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: calc(50% - 25px);
      display: block;
      width: 50px;
      height: 2px;
      background-color: #fff;
      opacity: 0.32;

      @media screen and (min-width: 754px) {
        bottom: auto;
        top: 1px;
        left: auto;
        right: 0px;
        width: 2px;
        height: 2rem;
      }
    }
  
  }
  &__li-last {
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 10px;

    @media screen and (min-width: 754px) {
      padding: 0px 12px;
      margin-bottom: 0px;
   
    }
  }

  &__links-a {
    text-decoration: none;
    color: inherit;
  }

  &__img {
    position: relative;
    width: 100%;
    max-width: 150px;

    height: auto;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    max-width: 57ch;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;

    @media screen and (min-width: 500px) {
      max-width: 100%;
    }
  }

  sup {
    font-size: 60%;
    line-height: 0;
    position: relative;
    vertical-align: middle;
    top: -0.5em;
  }
}
